.notification {
    z-index: 502;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
}

.profile {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-image: url('/assets/default.jpeg');
    background-size: cover;
    margin: 5px;
    margin-left: 15px;
    cursor: pointer;
}