<div>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Address
        </th>
        <th class="actions right">
          Action
        </th>
      </tr>
    </thead>
    <ng-container *ngFor="let item of Items">
      <tr>
        <td>
          {{ item.Name }}
        </td>
        <td>
          {{ item.Address }}
        </td>
        <td class="right">
          <button mat-mini-fab (click)="Select(item)" color="primary" matTooltip="View"><mat-icon>pageview</mat-icon></button>
        </td>
      </tr>
    </ng-container>
  </table>
  <div class="vSmallSpacer"></div>
  <div class="control">
    <button mat-raised-button color="primary" (click)="Add()" matTooltip="Add">Add</button>
  </div>
</div>