.clickable {
    cursor: pointer;
}

.icon {
    align-items: center;
    display: inline-flex;
    margin-top: 5px;
}

.expanded {
    width: 100%;
    top: 0px;
    right: 0px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.55);
    background-color: black;
    padding: 10px;
}

.list {
    max-height: 70vh;
    overflow-y: auto;
}

.actions {
    width: 100%;
}

@media (min-width: 550px) {
    .expanded { width: 550px; }
}

.expanded table {
    padding: 10px;
}

.total td {
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #2196f3;
}