.cart {
    width: 100%;
    z-index: 502;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
}

.clickable {
    cursor: pointer;
}

.icon {
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    margin-top: 10px;
    padding-right: 5px;
}

.expanded {
    width: 100%;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.55);
    background-color: black;
}

@media (min-width: 550px) {
    .expanded, .cart { width: 550px; }
}

.expanded table {
    padding: 10px;
}

.total td {
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}