.header-item {
    cursor: pointer;
    top: 0;
    margin-top: 10px;
}

.back-menu, .menu {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    float: left;
    margin-right: 3px;
}

.menu {
    float: left;
    cursor: pointer;
    color: #2196f3;
}

.brand {
    padding: 10px;
    align-items: center;
    display: inline-flex;
    vertical-align: middle;
    color: gray;
}

.brand a {
    text-decoration: none; 
    margin-left: 5px;
    font-weight: bold;
    color: gray;
}