<div>
  <button (click)="SaveSetting()">Save Setting</button>
</div>
<div>
  <button (click)="Snackbar()">Snackbar</button>
</div>
<div>
  <button (click)="SelectImage()">Select Image</button>
</div>
<div>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>
<div class="FeatureSeparator"></div>
<div>
  Done:
  <ul>
    <li>UI</li>
    <li>Component Loader</li>
    <li>Snackbar / Notification</li>
    <li>Hosting</li>
    <li>Database (Data Layer, Data Access, Core components)</li>
    <li>Select File / Upload File</li>
  </ul>
  Pending:
  <ul>
    <li>UX</li>
    <li>Wysiwyg</li>
    <li>Modules
      <ul>
        <li>Members
          <ul>
            <li>
              Registration
            </li>
            <li>
              Management
            </li>
          </ul>
        </li>
        <li>Services
          <ul>
            <li>
              Food
            </li>
            <li>
              Showcase
            </li>
            <li>
              Shopping Cart / Ordering
            </li>
          </ul>
        </li>
        <li>Delivery
          <ul>
            <li>
              Tracking
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>