<div>
  <ckeditor [(ngModel)]="content" [config]="{extraPlugins: 'divarea'}" debounce="500">
    <p>Hello <strong>world</strong></p>
  </ckeditor>
  <button mat-raised-button (click)="SaveEditor()">Save</button>
</div>
<div>
  <button mat-raised-button (click)="DelayCall()">Delay Call</button>
  <button mat-raised-button (click)="SaveSetting()">Save Setting</button>
  <button mat-raised-button (click)="SelectImage()">Select Image</button>
</div>
<div class="grid">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
  </mat-grid-list>
</div>
<div>
  Done:
  <ul>
    <li>UI</li>
    <li>Component Loader</li>
    <li>Snackbar / Notification</li>
    <li>Hosting</li>
    <li>Database (Data Layer, Data Access, Core components)</li>
    <li>Select File / Upload File</li>
  </ul>
  Pending:
  <ul>
    <li>UX</li>
    <li>Wysiwyg</li>
    <li>Modules
      <ul>
        <li>Members
          <ul>
            <li>
              Registration
            </li>
            <li>
              Management
            </li>
          </ul>
        </li>
        <li>Services
          <ul>
            <li>
              Food
            </li>
            <li>
              Showcase
            </li>
            <li>
              Shopping Cart / Ordering
            </li>
          </ul>
        </li>
        <li>Delivery
          <ul>
            <li>
              Tracking
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>