.menu {
    width: 100%;
    display: table;
    margin-top: 10px;
}

.header {
    text-align: center;
    overflow: hidden;
}

img {
    height: 250px;
    transition: 0.5s;
}

@media (min-width: 550px) {
    img { height: 180px; }
}

@media (min-width: 720px) {
    img { height: 150px; }
}

@media (min-width: 1200px) {
    img { height: 130px; }
}