/*
html base tags
*/
html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	font-size: 12px;
	font-style: normal;
    font-variant: normal;
    overflow-x: hidden;
}

table {
    width: 100%;
}

td, th {
    padding: 3px;
    text-align: left;
}

th {
    vertical-align: text-top;
}

/*
custom class
*/
.navbar { 
    position: fixed;
    z-index: 501;
    width: 100%;
    top: 0px;
    min-width: 350px;
    background-color: #2196f3;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}

.navbar .left {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.body {
    width: 100%;
    min-height: 100vh;
    display : table;
}

.window {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 345px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
    border: 1px solid #fafafa;
}

.header {
    padding: 10px 15px 10px 10px;
    background-color: #f5f5f5;
}

.title {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.content {
    background-color: #ffffff;
    margin: 0px 5px 15px 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
}

.footer {
    height: 40px;
    width: 100%;
    bottom: 0px;
    font-style: italic;
    color: gray;
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eeeeee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    display : table-row;
}

.footer div {
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
    display: inline-block;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.form > * {
    margin: 5px;
}

.control {
    text-align: right;
    padding: 10px;
}

.form input, .form textarea {
    font-size: 16px;
}

.item {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    margin-top: 10px;
    margin-bottom: 30px;
}

.item-selection {
    display: table-cell;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 95%;
    margin-left: 2%;
    float: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-sizing: border-box;
    transition: 0.5s;
}

.item-selection:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sell-price {
    color: #2196f3;
}

.menu-img {
    height: 250px;
    transition: 0.5s;
    width: 100%;
}

.blurb {
    margin-top: 7px;
    height: 35px;
}

.contents {
    padding: 15px;
    border: none;
}

@media (min-width: 550px) {
    .item-selection { margin-left: 4%; width: 44%; }
    .menu-img { height: 180px; }
    .contents { padding: 20px; }
}

@media (min-width: 720px) {
    .item-selection { margin-left: 4%; width: 28%; }
    .menu-img { height: 150px; }
}

@media (min-width: 1200px) {
    .item-selection { margin-left: 2%; width: 22%; }
    .menu-img { height: 130px; }
}

.vBigSpacer {
    height: 60px;
}

.vSmallSpacer {
    height: 15px;
}

.actions {
    width: 30%;
}

.right {
    text-align: right;
}

.container:after {
    content: "";
    display: table;
    clear: both; 
}