<div class="form">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="Model.Name" [formControl]="NameFC">
    <mat-error *ngIf="NameFC.invalid">{{ GetRequiredError(NameFC) }}</mat-error>
  </mat-form-field>
  <mat-form-field>
      <input matInput disabled placeholder="Email" [(ngModel)]="Model.Email">
    </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address" [(ngModel)]="Model.Address" [formControl]="AddressFC">
    <mat-error *ngIf="AddressFC.invalid">{{ GetRequiredError(AddressFC) }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Contact" [(ngModel)]="Model.Contact1" [formControl]="ContactFC">
    <mat-error *ngIf="ContactFC.invalid">{{ GetRequiredError(ContactFC) }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Alternative Contact" [(ngModel)]="Model.Contact2">
  </mat-form-field>
  <div>
    <image-uploader [Token]="Token"></image-uploader>
  </div>
</div>
<div class="control">
  <div class="left">
    <button mat-raised-button color="primary" (click)="Logout()" matTooltip="Logout">Logout</button>
  </div>
  <div class="right">
    <button mat-raised-button [disabled]="!IsOk()" color="primary" (click)="Save()">Save</button>
  </div>
</div>